<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    

</head>
<body>
    <nav class="navbar navbar-light bg-light ">
    <a class="navbar-brand font-weight-bold text-success" href="#">
        <img src="https://cdn-icons-png.flaticon.com/512/135/135532.png" width="50" height="50" alt=""> Grocery.Com
    </a>
    <form class="form-inline my-2 my-lg-0">

        <button class="btn btn-primary" (click)="gotoHome()" style="margin: 10px;"><a routerLink="/user-main"></a>Go to Shop</button><br>

        <app-logout></app-logout>
    </form>

</nav>
<nav class="navbar navbar-light bg-dark ">
    <ul class="nav">
        <li class="active text-monospace font-weight-bold">
            <a class="nav-link text-monospace text-light " routerLink="/funds">Funds: <span class="sr-only">(current)</span></a>
        </li>
        <li class="active text-monospace font-weight-bold">
            <p class="nav-link text-monospace text-light ">{{fa}}</p>
        </li>
    </ul>
   
</nav>
<br><br>
<form #fundsRef = "ngForm" (ngSubmit) = "addFunds(fundsRef.value)" style="margin-left:20px ;">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-1" style="margin-right: 10px;">Enter the Amount:</label>
      <div class="col-sm-3">
        <input type="number" name="money"  class="form-control" id="inputEmail3" placeholder="Amount to be added" ngModel><br>
    </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 offset-sm-1">
        <button type="submit" class="btn btn-primary">Add Funds</button>
      </div>
    </div>
  </form>
<!-- <form #fundsRef = "ngForm" (ngSubmit) = "addFunds(fundsRef.value)">
   <label>Enter the Funds Amount: </label>
    <input type="number" name="money"  class="form-control" id="inputEmail3" placeholder="Amount to be added" ngModel><br>
    <input type="submit" value="Add Funds">
</form> -->
</body>
</html>

