
<div *ngIf = "!defaultPassword" id = "signInForm">
    <h2>Employee Sign In</h2>
    <form #employeeRef = "ngForm" (ngSubmit) = "loginEmployee(employeeRef.value)">
        <input type="text" name="employeeEmail" placeholder="Employee Email" ngModel>
        <input type="password" name="employeePassword" placeholder="Password" ngModel><br>
        <input type="submit" value="Sign In">
    </form>
    {{msg}}
    <a routerLink=".." class="nav-link">Back</a><br>
</div>

<div *ngIf = "defaultPassword" id = "changePasswordForm">
    <h2>First time password change</h2>
    <form #changePasswordRef = "ngForm" (ngSubmit) = "changeEmployeePassword(changePasswordRef.value)">
        <input type="text" name="employeeEmail" placeholder="Employee Email" required ngModel>
        <input type="password" name="employeePassword" placeholder="New Password" required ngModel><br>
        <input type="submit" value="Change Password">
    </form>
</div>